.menu__top
	width: 1600px
	max-width: 100%
	height: 400px
	background-repeat: no-repeat
	background-position: center
	.container
		display: flex
		justify-content: space-around
		align-items: center
		width: 100%
		height: 65px
		background-color: #fff
		.section__logo
			width: 160px
			min-width: 160px
			display: block
			&-img
				float: left
				margin-right: 15px
			&-title
				height: 30px
				text-transform: uppercase
				font-size: 18px
				color: #757575
				font-family: robotoBold, sans-serif
			&:hover
				cursor: pointer
		
		.section__menu
			&-list
				list-style: none
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				text-transform: uppercase
				padding-left: 0
				margin: 0
				a
					text-decoration: none
					color: inherit
			&-item
				margin-right: 15px
				font-size: 12px
				color: #aaaaaa
				font-family: roboto, sans-serif
				&:last-child
					margin-right: 0

		.section__social
			display: flex
			width: 80px
			&-img
				margin-right: 5px
				display: block
				width: 40px
				height: 15px
				overflow: hidden
				line-height: 15px
			&-border
				border-right: 2px solid #aaaaaa
				margin-left: 5px
	.caption
		display: flex
		justify-content: center
		&__block
			height: 330px
			width: 500px
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			&-text
				color: #fff
				margin: 0
				line-height: 2.5
				letter-spacing: 5px
				font-family: AlexanderRegular, sans-serif
				font-size: 36px
			&-img
			&-subtitle
				color: #fff
				font-family: $default-font
				font-size: 14px


				
@media screen and (max-width: 991px)
	.menu__top
		.container
			height: 80px
			.section__logo
				margin-right: 20px
			.section__menu
				&-list
					justify-content: flex-start
			.section__social
				flex-direction: column
				margin-left: 20px
				&-img
					margin-bottom: 3px
				&-border
					display: none

@media screen and (max-width: 575px)
	.menu__top
		.container
			.section__logo
				min-width: 130px
				display: flex
				&-img
					float: left
					margin-right: 8px
				&-title
					text-transform: uppercase
					font-size: 13px
					height: 30px
					padding-top: 5px
		.caption
			&__block
				height: 300px
				width: 100%
				&-text
					font-size: 24px
				&-img
					width: 50%
				&-subtitle
					font-size: 14px
				

@media screen and (max-width: 430px)
	.menu__top
		height: 300px
		.container
			height: 130px
			flex-direction: column
			position: relative
			justify-content: space-between
			.section__logo
				margin-bottom: 10px
				justify-content: center
			.section__menu
				margin-bottom: 10px
				&-list
					flex-direction: row
					justify-content: center
			.section__social
				flex-direction: row
				&-img
					margin-bottom: 3px
				&-border
					display: block
		.caption
			&__block
				height: 170px
				&-text
					font-size: 20px
				&-img
					width: 60%
				&-subtitle
					font-size: 14px