.sidebar
	width: 100%
	display: flex
	flex-direction: column
	justify-content: flex-start

	.search-form
		position: relative
		height: 40px
		width: 300px
		margin-bottom: 40px
		&__block
			box-sizing: border-box
			width: 300px
			height: 39px
			border: 2px solid #a8a8a8
			color: $text
			padding: 0 35px 0 16px 
			font-family: $default-font
			white-space: nowrap 
			font-style: italic
		&__img
			position: absolute
			padding: 10px 
			width: 14px
			height: 14px
			right: 6px
			top: 3px
			z-index: 5
			&:hover
				cursor: pointer

	.last-posts
		.box
			height: 645px
			.last-posts__title
				margin-bottom: 40px
				.h2-title
			.last-posts__list
				display: flex
				flex-direction: row
				height: 22%
				.last-posts__img
					display: inline-block
					width: 115px
					height: 110px
				.last-posts__subtitle
					margin-left: 20px
					float: right
					.h3-title
					.last-posts__text
						font-style: italic
						line-height: 25px
			.last-posts__line
				border: 1px solid #b7b7b7
				width: 100%
				margin-bottom: 30px

					



