@import "vars"
@import "fonts"
//@import "libs"
@import "atlantida/menu__top"
@import "atlantida/sidebar"
@import "atlantida/main__news"

body
	margin: 0
	width: 1600px
	max-width: 100%
	font-size: 14px			//!!!!!!!!
	min-width: 320px
	position: relative
	line-height: 1.65				//!!!!!!!!!!!!!
	font-family: $default-font
	overflow-x: hidden
	color: $text


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.wrapper
	width: 100%
	display: flex
	justify-content: center
	padding: 0 auto
	background-color: #e3e3e3
	padding-top: 80px

.wrapper__aside
	width: 25%

.wrapper__content
	width: 70%



// @import "media" // Always at the end
