@import "vars"
@import "fonts"
//@import "libs"
@import "atlantida/menu__top"
@import "atlantida/sidebar"
@import "atlantida/main__news"

body
	margin: 0 auto
	width: 1600px
	max-width: 100%
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 25px
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #e3e3e3


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.h2-title
	font-family: $fotnh2
	font-weight: bold
	font-size: 16px
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 0.7px
	color: $text

.h3-title
	font-family: $fonth3
	font-weight: bold
	font-size: 12px
	line-height: 15px
	text-transform: uppercase
	letter-spacing: 0.1em
	color: $text

.wrapper
	width: 100%
	display: flex
	justify-content: center
	padding: 0 auto
	background-color: #e3e3e3
	padding-top: 80px

.wrapper__aside
	width: 300px

.wrapper__content
	width: 70%



// @import "media" // Always at the end
